<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP HEROE | Babbage </title>
</head>

<body>

    <a href="/babbage">Babbage</a>
    <a href="/berners-lee">Berners-lee</a>
    <a href="/clarke">Clarke</a>
    <a href="/hamilton">Hamilton</a>
    <a href="/hopper">Hopper</a>
    <a href="/lovelace">Lovelace</a>
    <a href="/turing">Turing</a>







    <h1>Babbage</h1>
    <img src="/img/babbage.jpg" alt="babbage">

    <h2>Biografia</h2>

    <p>Nacido el 26 de diciembre de 1791, Londres, Charles Babbage fue un matemático e inventor inglés al que se le
        atribuye haber concebido el primer ordenador automático digital. En 1812, Babbage ayudó a fundar la Sociedad
        Analítica, cuyo objetivo era introducir los desarrollos del continente europeo en las matemáticas inglesas.</p>
</body>
<a href="/">Home</a>

</html>