<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP HEROE | Berners-lee</title>
</head>

<body>
    <a href="/babbage">Babbage</a>
    <a href="/berners-lee">Berners-lee</a>
    <a href="/clarke">Clarke</a>
    <a href="/hamilton">Hamilton</a>
    <a href="/hopper">Hopper</a>
    <a href="/lovelace">Lovelace</a>
    <a href="/turing">Turing</a>

    <h1>Berners-lee</h1>
    <img src="/img/berners-lee.jpg" alt="berners-lee">

    <h2>Biografia</h2>

    <p>Tim Berners-Lee (8 de junio de 1955) físico y fundador de World Wide Web. Nació en Londres, Reino
        Unido. Estudio en una no tan prestigiosa escuela de su ciudad, el Queen's college. Sus padres aportaron a su
        desarrollo intelectual, ya que ambos eran matemáticos y fueron participes de la creació.</p>
</body>
<a href="/">Home</a>

</html>