<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP HEROE </title>
</head>
<body>
    
    <h1>Heroes</h1>
    <h5><a href="/babbage">Babbage</a></h5>
    <h5><a href="/berners-lee">Berners-lee</a></h5>
    <h5><a href="/clarke">Clarke</a></h5>
    <h5><a href="/hamilton">Hamilton</a></h5>
    <h5><a href="/hopper">Hopper</a></h5>
    <h5><a href="/lovelace">Lovelace</a></h5>
    <h5><a href="/turing">Turing</a></h5>

    





    
    <img src="/img/babbage.jpg" alt="babbage">
    <img src="/img/berners-lee.jpg" alt="berners-lee">
    <img src="/img/clarke.jpg" alt="clarke">
    <img src="/img/hamilton.jpg" alt="hamilton">
    <img src="/img/hopper.jpg" alt="hopper">
    <img src="/img/lovelace.jpg" alt="lovelace">
    <img src="/img/turing.jpg" alt="turing">


    </body>
    
</html>

