<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP HEROE | Lovelace</title>
</head>

<body>
    <a href="/babbage">Babbage</a>
    <a href="/berners-lee">Berners-lee</a>
    <a href="/clarke">Clarke</a>
    <a href="/hamilton">Hamilton</a>
    <a href="/hopper">Hopper</a>
    <a href="/lovelace">Lovelace</a>
    <a href="/turing">Turing</a>


    <h1>Lovelace</h1>
    <img src="/img/lovelace.jpg" alt="lovelace">
    <h2>Biografia</h2>

    <p>Ada Lovelace. Augusta Ada Byron nació en Londres el 10 de diciembre de 1815; fue la única hija
        legítima del famoso poeta Lord Byron. El matrimonio de Lord Byron con la madre de Ada, Lady Anne Isabella
        Milbanke Byron, no fue feliz. Lady Byron se separó de su esposo solo semanas después del nacimiento de su hija.
    </p>
</body>
<a href="/">Home</a>

</html>